# Just for CentOS 7
[Unit]
Description=OpenStack Neutron Debug Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python /usr/bin/steth-agent
Restart=on-abort

[Install]
WantedBy=multi-user.target
